# Python (backend)
backend/.venv/*
backend/__pycache__/
backend/src/agents/tests/*
backend/src/secretClerkWebhook.txt
*.pyc

# Node (frontend, if you add one)
frontend/node_modules/
frontend/dist/

# OS files
.DS_Store

# General
.env

*.db

node_modules/*

package-lock.json
package.json